<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Chat - Room</title>
</head>
<body>
    <h1>Welcome to Chat room</h1>
    <div>
        <form action="/chat">
            <label for="uname">Username : </label>
            <input type="text" placeholder = "Enter your name" id='uname' name='user'><br>
            <label for="room">Select Room :</label>
            <select name="room" id='room'>
                <option value="Java">Java</option>
                <option value="Python">Python</option>
                <option value="C++">C++</option>
                <option value="Javascript">JavaScript</option>
            </select> <br>
            <button>Join Room</button>
        </form>
    </div> 
</body>
</html>